<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    <main>
        <header>
            {{>header}}
        </header>
        <p>{{message}}</p>
    </main>
    <footer>
        {{>footer}}
    </footer>
</body>

</html>