<div class="logos">
    <a href="https://www.facebook.com/dan.iulian.drutac.violinist"><img src="img/logo-fb.png" alt="facebook logo"></a>
    <a href="https://www.instagram.com/daniuliandr/"><img src="img/logo-insta.svg" alt="instagram logo"></a>
    <a href="https://twitter.com/daniulian96"><img src="img/logo-twitter.svg" alt="twitter logo"></a>
    <a href="https://www.youtube.com/user/daniulian96"><img src="img/logo-yt.webp" alt="youtube logo"></a>
</div>
<p id="copyright"><span>&copy;</span> 2023 Dan-Iulian Druțac</p>

<script src="js/navbar.js"></script>