/* --------- GENERAL --------- */

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    height: 100vh;
    background-image: url('../img/playing.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --------- HEADER --------- */

header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.9em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 28px 16px 16px;
    z-index: 1;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 16px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#menu {
    width: 40px;
    height: fit-content;
    margin: 28px 16px;
    z-index: 1;
}

.navbar_mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 2em;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    width: 100vw;
    padding-right: 16px;
    height: 100vh;
    background-color: lavender;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* --------- FOOTER --------- */

footer {
    display: inherit;
    flex-direction: column;
    background-color: rgb(38, 49, 45);
    color: #bbbbbb;
    padding: 2em 4em;
    align-items: center;
}

footer img {
    width: 24px;
}

.logos {
    display: inherit;
    width: 20vw;
    min-width: 200px;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em 0 1.5em;
}

#copyright {
    margin-bottom: .5em;
}